.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
<<<<<<< HEAD
  /* background-image: url('/background.jpg'); */ /* Commented out the background image */
=======
  /* background-image: url('/background.jpg'); */ /* Correct path to the image */
>>>>>>> 7b00ffdbb9c77d363182ed5d7dec97b20aa56e48
  background-size: cover;
  background-position: center;
}

.auth-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.auth-box h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.auth-box p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

.auth-box h3 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

button + button {
  background-color: #6c757d;
  margin-top: 10px;
}

button + button:hover {
  background-color: #5a6268;
}
